// ==========================================================================
// Homepage Layout
// ==========================================================================
//
// Custom layout for the homepage.
//


// Add some spacing at the end of each section.

section {
  margin-bottom: 50px;
}

// Section Titles

.about__section-title,
.recent-repos__title,
.all-repos__title {
  @extend %kilo;
  margin-bottom: 25px;
}

// Issue Section

.issue {
  background-color: $color-issue-background;
  padding: 50px 0;
}

.issue__text {
  font-weight: $font-weight-medium;
  margin-bottom: 0;

  &:nth-child(2) {
    margin-bottom: 25px;
  }
}

.issue__button {
  background-color: $color-white;
  border: 1px solid $color-black;
  margin-right: 2em;

  @include breakpoint(small) {
    clear: both;
    margin-bottom: 1em;
    margin-right: 0;
    width: 100%;
  }

  a {
    color: $color-black;
    display: block;
    font-weight: $font-weight-medium;
    padding: .25em;
  }

  &:last-child {
    margin-right: 0;
  }
}
