// ==========================================================================
// Custom Settings
// ==========================================================================
//
// These settings will override ZURB Foundation settings and contain
// variables used throughout the site to give it style.
//


// ------------------------------------
// ZURB Foundation Overrides
// ------------------------------------
//

$row-width: rem-calc(1200);

// ------------------------------------
// Font Stack
// ------------------------------------
//

$font-family-sans-serif: 'Roboto', sans-serif;
$font-family-serif: Georgia, Cambria, "Times New Roman", Times, serif;
$font-family-monospace: Consolas, "Liberation Mono", Courier, monospace;

// ------------------------------------
// Brand
// ------------------------------------
//

$brand-face: $font-family-sans-serif;
$color-brand: #000;

// ------------------------------------
// Base Colors
// ------------------------------------
//

// Primary
$color-primary: #005595;
$color-secondary: #ab162b;
$color-link: #000;

// Standard colors
$color-white: #fff;
$color-black: #000;
$color-smoke: #eee;
$color-transparent: transparent;

// Special Colors
$color-page-background: #fff;
$color-page-title: #000;
$color-page-text: #000;

// Owl Carousel on Homepage
$carousel-controls-border-color: #fff;
$carousel-controls-active-background-color: #fff;
$carousel-controls-background-color: transparent;

// Submit Issue Section
$color-issue-background: rgb(232, 232, 231);

// Footer
$footer-background-color: rgb(232, 232, 231);


// ------------------------------------
// Fonts
// ------------------------------------
//

// Base font settings
$base-font-family: $font-family-sans-serif;
$base-font-size: 1rem;
$base-line-height: 1.5rem;
$base-font-color: $color-page-text;
$em-base: 1rem;
$base-spacing-unit: $base-line-height;
$half-spacing-unit: $base-spacing-unit / 2;
$line-height-ratio: $base-line-height / $base-font-size;
$body-font-family: $base-font-family;

// Font Weights
$font-weight-light: 100;
$font-weight-semi-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

// Header fonts
$header-font-family: $font-family-sans-serif;
$header-font-weight: $font-weight-semi-light;
$header-font-color: $color-page-title;
$header-line-height: 1.4;
$header-top-margin: .2rem;
$header-bottom-margin: .5rem;
$header-text-rendering: optimizeLegibility;

// Super Lage Header Fonts
$giga-size: rem-calc(96);
$mega-size: rem-calc(72);
$kilo-size: rem-calc(48);

// Header font sizes
$h1-font-size: rem-calc(35);
$h2-font-size: rem-calc(28);
$h3-font-size: rem-calc(22);
$h4-font-size: rem-calc(18);
$h5-font-size: rem-calc(14);
$h6-font-size: 1rem;

// Subheaders
$subheader-font-family: $font-family-serif;
$subheader-font-style: 'normal';
$subheader-line-height: 1.4;
$subheader-font-color: #7e6042;
$subheader-font-weight: 400;
$subheader-top-margin: .2em;
$subheader-bottom-margin: .5em;

// Paragraphs
$paragraph-font-family: inherit;
$paragraph-font-weight: $font-weight-semi-light;
$paragraph-font-size: 1rem;
$paragraph-line-height: 1.6;
$paragraph-margin-bottom: rem-calc(20);
$paragraph-aside-font-size: rem-calc(14);
$paragraph-aside-line-height: 1.35;
$paragraph-aside-font-style: italic;
$paragraph-text-rendering: optimizeLegibility;

// Small print
$mini-size: 14px;
$milli-size: 12px;
$micro-size: 10px;

// Links
$link-color: $color-link;
$link-hover-color: $color-link;
$link-text-decoration: none;
$link-text-decoration-hover: underline;
