// ==========================================================================
// Repository Grid
// ==========================================================================
//
// Creates a block layout for the list of repositories.
//
// <section class="all-repos">
//   <div class="row">
//     <div class="large-12 medium-12 small-12 columns">
//       <h2 class="all-repos__title text-center">All Repos</h2>
//       <ul id="all-repos" class="small-block-grid-1 medium-block-grid-3 large-block-grid-3">
//         <!--
//         <li class="repo">
//           <div class="repo__wrapper">
//             <h3 class="repo__title"><a href="#">mzsrm</a></h3>
//             <p class="repo__description">Zero-Slack Rate Monotonic Scheduling for Modal Mixed-Criticality Systems.</p>
//             <ul>
//               <li class="repo__meta-item"><i class="fa fa-star"></i>&nbsp;&nbsp;0</li>
//               <li class="repo__meta-item"><i class="fa fa-code-fork"></i><span>&nbsp;&nbsp;0</span>/li>
//             </ul>
//           </div>
//         </li>
//         <li class="repo">
//           <div class="repo__wrapper">
//             <h3 class="repo__title"><a href="#">mzsrm</a></h3>
//             <p class="repo__description">Zero-Slack Rate Monotonic Scheduling for Modal Mixed-Criticality Systems.</p>
//             <ul>
//               <li class="repo__meta-item"><i class="fa fa-star"></i>&nbsp;&nbsp;0</li>
//               <li class="repo__meta-item"><i class="fa fa-code-fork"></i><span>&nbsp;&nbsp;0</span></li>
//             </ul>
//           </div>
//         </li>
//         <li class="repo">
//           <div class="repo__wrapper">
//             <h3 class="repo__title"><a href="#">mzsrm</a></h3>
//             <p class="repo__description">Zero-Slack Rate Monotonic Scheduling for Modal Mixed-Criticality Systems.</p>
//             <ul>
//               <li class="repo__meta-item"><i class="fa fa-star"></i>&nbsp;&nbsp;0</li>
//               <li class="repo__meta-item"><i class="fa fa-code-fork"></i>&<span>&nbsp;&nbsp;0</span></li>
//             </ul>
//           </div>
//         </li>
//         -->
//       </ul>
//     </div>
//   </div>
// </section>
//


.repo__wrapper {
  border: 1px solid $footer-background-color;
  padding-bottom: 1em;
}

.repo__title {
  background-color: $color-black;
  font-weight: $font-weight-medium;
  margin: 0;
  padding: .25em .5em;

  a {
    color: $color-white;

    &:hover {
      text-decoration: underline;
    }
  }
}

.repo__account-name {
  color: $color-white;
  font-size: .75em;
  font-weight: $font-weight-normal;
  margin: 0;
  padding: 0;
}

.repo__description {
  padding: 1em;
}

// Fork and star section

.repo__meta-item {
  display: inline-block;
  font-weight: bold;

  span {
    padding-right: .75em;
  }
}
