/*
 * SEI EXTENDED COLOR PALETTE
 *
 * The following colors are a
 * namespaced list of the official
 * extended color palette
 */

// SEI Gray
$color-sei-gray-lightest: #f1f1f2;
$color-sei-gray-lighter: #d6d6d7;
$color-sei-gray-light: #b0b1b4;
$color-sei-gray: #76787a;
$color-sei-gray-darker: #4d4d4f;
$color-sei-gray-darkest: #282829;

// SEI Teal
$color-sei-teal-lightest: #afd5d1;
$color-sei-teal-lighter: #7eb3af;
$color-sei-teal-light: #468f8b;
$color-sei-teal: #137c76;
$color-sei-teal-darker: #006a61;
$color-sei-teal-darkest: #00594f;

// SEI Green
$color-sei-green-lightest: #cde5bd;
$color-sei-green-lighter: #a5c492;
$color-sei-green-light: #7ead64;
$color-sei-green: #44842d;
$color-sei-green-darker: #377225;
$color-sei-green-darkest: #2b621c;

// SEI Spring Green
$color-sei-spring-green-lightest: #dae2bf;
$color-sei-spring-green-lighter: #bfce90;
$color-sei-spring-green-light: #a7ba61;
$color-sei-spring-green: #88a427;
$color-sei-spring-green-darker: #779121;
$color-sei-spring-green-darkest: #637724;

// SEI Yellow
$color-sei-yellow-lightest: #ffebb9;
$color-sei-yellow-lighter: #ffe18b;
$color-sei-yellow-light: #fed671;
$color-sei-yellow: #ffc627;
$color-sei-yellow-darker: #e6b10d;
$color-sei-yellow-darkest: #dba50f;

// SEI Orange
$color-sei-orange-lightest: #fed6ab;
$color-sei-orange-lighter: #ffcb8a;
$color-sei-orange-light: #faaa53;
$color-sei-orange: #f7931d;
$color-sei-orange-darker: #e9831c;
$color-sei-orange-darkest: #d87800;

// SEI Tangerine
$color-sei-tangerine-lightest: #fbcebf;
$color-sei-tangerine-lighter: #f79e87;
$color-sei-tangerine-light: #f26c57;
$color-sei-tangerine: #ef483d;
$color-sei-tangerine-darker: #d51c28;
$color-sei-tangerine-darkest: #c01722;

// SEI Red
$color-sei-red-lightest: #f8b0a1;
$color-sei-red-lighter: #f26c60;
$color-sei-red-light: #db3f40;
$color-sei-red: #c2002f;
$color-sei-red-darker: #ab162b;
$color-sei-red-darkest: #900710;

// SEI Eggplant
$color-sei-eggplant-lightest: #d3b6c9;
$color-sei-eggplant-lighter: #b06d93;
$color-sei-eggplant-light: #9a4577;
$color-sei-eggplant: #800054;
$color-sei-eggplant-darker: #740049;
$color-sei-eggplant-darkest: #650038;

// SEI Purple
$color-sei-purple-lightest: #d3c9db;
$color-sei-purple-lighter: #a792b4;
$color-sei-purple-light: #866894;
$color-sei-purple: #692c79;
$color-sei-purple-darker: #601771;
$color-sei-purple-darkest: #460054;

// SEI Prussian Blue
$color-sei-prussian-lightest: #a8b2d0;
$color-sei-prussian-lighter: #7689b3;
$color-sei-prussian-light: #476598;
$color-sei-prussian: #003b76;
$color-sei-prussian-darker: #003461;
$color-sei-prussian-darkest: #002f56;

// SEI Blue
$color-sei-blue-lightest: #c7d4e2;
$color-sei-blue-lighter: #9cb6d2;
$color-sei-blue-light: #618db4;
$color-sei-blue: #005595;
$color-sei-blue-darker: #004876;
$color-sei-blue-darkest: #00416a;

// SEI Cyan
$color-sei-cyan-lightest: #99cee7;
$color-sei-cyan-lighter: #54b5da;
$color-sei-cyan-light: #009dcc;
$color-sei-cyan: #0089b6;
$color-sei-cyan-darker: #007dac;
$color-sei-cyan-darkest: #006b94;

// Standard colors
$color-white: #fff;
$color-black: #000;
$color-transparent: transparent;